---
import Tarjetas from "../components/Tarjetas.jsx"

const proyectos = [
  {
    subtitulo: "Trello App",
    tecnologias: ["HTML", "CSS", "Js"],
    texto: "Aplicaci칩n web que simula el comportamiento de Trello, ofreciendo una interfaz sencilla y eficiente.",
    img: "img/proyecto-trelloApp.png",
    url: "https://orlandotellez.github.io/trello-app/",
    github: "https://github.com/OrlandoTellez/trello-app"
  },
  {
    subtitulo: "Twitter Clone",
    tecnologias: ["NodeJs", "CSS", "Express", "MySql"],
    texto: "Clon de Twitter con funcionalidades b치sicas como publicaciones, usuarios y base de datos integrada.",
    img: "img/proyecto-twiterClon.png",
    url: "https://twiter-clon.onrender.com/",
    github: "https://github.com/OrlandoTellez/twiter-clon"
  },
  {
    subtitulo: "Hardware Web",
    tecnologias: ["NextJs", "React"],
    texto: "P치gina web que ense침a sobre hardware, explicando sus componentes y sus usos.",
    img: "img/proyecto-hardwareWeb.png",
    url: "https://hardware-web.vercel.app/",
    github: "https://github.com/OrlandoTellez/hardware-web"
  }
];
---


<section id="proyectos">
    <div class="container-section">
        <article>
            <h1>&ltProyectos/&gt;</h1>
        </article>
        <div class="container-tarjetas">
           
            {
              proyectos.map((proyecto) => (
                <Tarjetas 
                subtitulo={proyecto.subtitulo} 
                tecnologias={proyecto.tecnologias}
                texto={proyecto.texto} 
                img={proyecto.img}
                url={proyecto.url}
                github={proyecto.github}/>
              ))
            }
           
    </div>
</section>

<style>
    section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        padding: 75px 0px;
    }

    .container-section{
        width: 100%;
        max-width: 1024px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-section article h1{
        font-size: var(--titulos);
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .container-tarjetas{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        place-items: center;
        gap: 25px;
    }
</style>