---
import Glass from "../components/Glass.astro";
import TarjetaTecnologia from "../components/TarjetaTecnologia.astro";
import { iconosTecnologias } from "../data/tecnologias.js";
import typescriptIcon from "../assets/iconos/typescript.svg";
import reactIcon from "../assets/iconos/react.svg";
import expressIcon from "../assets/iconos/express.svg";
import mySqlIcon from "../assets/iconos/mysql.svg";
import laptopIcon from "../assets/iconos/laptop.svg";


// Accedemos a cada grupo
const frontend = iconosTecnologias.frontend;
const backend = iconosTecnologias.backend;
const herramientas = iconosTecnologias.herramientas;
---

<section id="tecnologias">
  <div class="container-section">
    <article>
        <div>
            <img src={laptopIcon.src} alt="laptop icon">
            <h2>Tecnologías</h2>
        </div>
      <p>
        Stack favorito:
        <img src={typescriptIcon.src} alt="typescript icon" />
        <img src={reactIcon.src} alt="react icon">
        <img src={expressIcon.src} alt="react icon">
        <img src={mySqlIcon.src} alt="mysql icon">
      </p>
    </article>

    <div class="cards">
      <Glass>
        <h2>Frontend</h2>
        <div class="container-icon">
          {
            frontend.map((tecnologia) => (
              <TarjetaTecnologia
                titulo={tecnologia.titulo}
                icono={tecnologia.icono.src}
              />
            ))
          }
        </div>
      </Glass>

      <Glass>
        <h2>Backend</h2>
        <div class="container-icon">
          {
            backend.map((tecnologia) => (
              <TarjetaTecnologia
                titulo={tecnologia.titulo}
                icono={tecnologia.icono.src}
              />
            ))
          }
        </div>
      </Glass>

      <Glass>
        <h2>Herramientas</h2>
        <div class="container-icon">
          {
            herramientas.map((tecnologia) => (
              <TarjetaTecnologia
                titulo={tecnologia.titulo}
                icono={tecnologia.icono.src}
              />
            ))
          }
        </div>
      </Glass>
    </div>
  </div>
</section>

<style>
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 45px 20px;
    background-color: var(--color-fuente-tag);
    border-bottom: 1px solid var(--border-color);
  }

  h2 {
    font-size: 2rem;
    color: var(--color-fuente);
  }

  .container-section {
    width: 100%;
    max-width: 1024px;
  }

  .cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  .container-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  article {
    display: flex;
    justify-content: space-between;
  }

  article div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  article div img{
    width: 34px;
  }

  article p{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  article p img{
    width: 24px;
  }

  @media only screen and (min-width: 1024px) {
    .cards {
      flex-direction: row;
    }
  }
</style>
